<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>gfmello.emdb.test.functional.LoginControllerTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_list_no_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_update_no_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_update_valid_admin_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_createall_valid_admin_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_delete_valid_admin_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_patch_valid_user_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_create_valid_admin_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_createall_valid_user_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_delete_no_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_login_create_user_jwt_token</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_findbyid_no_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_update_valid_user_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_patch_valid_admin_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_findbyid_valid_user_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_create_no_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_findbyid_valid_admin_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_patch_no_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_create_valid_user_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_login_create_admin_jwt_token</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_list_valid_admin_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_list_valid_user_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_delete_valid_usero_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ws_createall_no_credential</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>gfmello.emdb.test.integrated.PersonServiceAddTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSavePerson</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testShortColor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testNullColor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAddRepeatedPerson</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testLongLastName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testLongAge</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testShortName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testLongColor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testNullName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testLongName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testNullAge</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testShortAge</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testShortLastName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testNullLastName</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>gfmello.emdb.test.integrated.PersonServiceUpdateTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSavePerson</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testDeletePerson</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testUpdatePerson</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextPrepareTestInstance</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextBeforeTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>springTestContextAfterTestClass</td>
<td>&nbsp;</td></tr>
</table>
